* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
}

a {

    text-decoration: none;
}

.main {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

.social::before{
    content: "";
    background-color: #037fff;
    width: 120%;
    height:120%;
    transform: rotate(45deg);
    top:90%;
    right:-110%
}

.social:hover::before{
    animation: subs 0.8s 1;
    top:-10%;
    right:-10%
}
.social i {
    font-size: 30px;
    line-height:90px;
    transition: 3s;
}
.social i:hover {
    color:white;
    transform: scale(1.5);
}
.social{
    width: 90px;
    height: 90px;
    display: inline-block;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 7px 40px -7px #037fff;
    color: #037fff;
    overflow: hidden;
    position: relative;

}